<!doctype html>
<html>
    <head>

    </head>

    <body>
        <center><h1>Wemcome to Matmul</h1></center>
        <form action="" method="POST">
            {% csrf_token %}
            <div style="text-align: center;">
                <span>Matrix A:</span>
                <textarea rows=6 cols="60" name="A">{{A}}</textarea>

                <span>Matrix B:</span>
                <textarea rows=6 cols="60" name="B">{{B}}</textarea>
            </div><br>

            <div style="text-align: center;">
                <button type="submit">Multiply</button>
            </div>

        </form>

        <br><div style="text-align: center;">
            <textarea rows="6" cols="60" name="C">{{C}}</textarea>
        </div>

        <div><center><br>
            <table border="1" >
                {% for r in C %}
                <tr>
                    {% for c in r %}
                    <td>{{c}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </center></table>
        </div>
    </body>
</html>